{% extends 'base.html' %}
{% load widget_tweaks %}

{% block css-link %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/feed.css"/>
{% endblock %}

{% block title %}
Summrize | Feed
{% endblock %}

{% block buttons %}
    <form action="/" id="back">
        <button>Submit text</button>
    </form>
{% endblock %}

{% block content %}
    <ul>
        {% for entry in text_list %}
        <li>
            <h3>{{ entry.title }} <span>| Date posted: {{ entry.date }}</span></h3>
            <h4>Mean Scored Summary</h4>
            <p>{{ entry.mean_scored_text }}</p>
            <h4>Top N Sentences</h4>
            <p>{{ entry.top_n_scored_text }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}