<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Title here {% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,800' rel='stylesheet' type='text/css'>
    {% block css-link %} {% endblock %}
</head>
<body>
    <header>
        <nav>
            <h1><a href="/">Summrize</a></h1>
            {% block buttons %}
            {% endblock %}
        </nav>
    </header>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
<footer>

</footer>
</html>