body {
    background-color: #001E37;
    font-family: 'Droid Sans', sans-serif;
    height: 100%;
    margin: 0 auto;
    width: 80%;
}

a, p, span, h1, h2, h3 {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

nav {
    overflow: auto;
}

nav h1 {
    float: left;
}